:root {
  --primary-color: #4CAF50;
  --bg: #ffffff;
  --black-color: rgb(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  background-origin: padding-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: var(--black-color);
  /* min-height: 4000px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgb(255, 255, 255, 0.8);
  border-bottom: 1px solid var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .nav-logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.navbar .navbar-nav a {
  color: var(--black-color);
  display: inline-block;
  font-size: 1.1rem;
  padding-top: 0.5rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary-color);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary-color);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--black-color);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary-color);
}

#menu {
  display: none;
}

/* navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%; 
  right: 7%;
  background-color: #fff;
  box-shadow: #ddd 0px 4px 12px;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  color: var(--black-color);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--black-color);
}

/* Shopping cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  color: var(--bg);
  background-color: var(--black-color);
  transition: 0.3s;
}

.shopping-cart .cart-item {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed var(--bg);
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--primary-color);
}

.shopping-cart.active {
  transition: 0.3s;
  right: 0;
}


/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  color: #fff;
  font-size: 4.5em;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 1, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary-color);
}

.hero .content P {
  font-size: 1.6rem;
  color: var(--bg);
  margin-top: 1rem;
  line-height: 1.4;
  /* font-weight: 100; */
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 1, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--bg);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 1, 0.5);
}

/* About Section */
.about,
.barang,
.contact {
  padding: 8.1rem 7% 1.4rem;
  color: var(--black-color);
}

.about h2,
.barang h2,
.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.about h2 span,
.barang h2 span,
.contact h2 span {
  color: var(--primary-color);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

/* .about .row .content h3 span {
  color: var(--primary-color);
} */

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  /* font-weight: 200; */
  line-height: 1.6;
}


/* Barang Section */
.barang h2 {
  margin-bottom: 1rem;
}

.barang p, .contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  /* font-weight: 100; */
  font-size: 1.2rem;
  line-height: 1.6;
}

.barang .row {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  cursor: pointer;
}

.barang .row .barang-card {
  text-align: center;
  padding: 2rem;
  margin: 0.4rem;
  /* border: 1px solid var(--black-color); */
  background-color: #f5f5f5;
  border-radius: 1.5rem;
  transition: 0.1s;
}

.barang .row .barang-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #eee;
  scale: 1.02;
  transition: 0.1s;
}

.barang .row .barang-card img {
  /* height: 25rem; */
  width: 260px;
  border-radius: 1.5rem;
}

.barang .row .barang-card .barang-card-title {
  margin: 1rem auto 0.5rem;
  font-size: 1.5rem;
}

.barang .row .barang-card .barang-card-price {
  font-size: 1.2rem;
  /* color: var(--primary-color); */
  margin-bottom: 0.5rem;
}

.barang .row .barang-card .product-stars {
  margin: 0.8rem;
  color: rgb(232, 136, 11);
}

.barang .row .barang-card .product-stars .star-full {
  fill: rgb(251, 143, 1);
}

.barang .row .barang-card .cart-barang {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.barang .row .barang-card .cart-barang #shopping-cart-btn {
  /* border: 1px solid transparent; */
  /* background-color: #666; */
  border-radius: 10px;
  padding: 0.5rem;
}

.barang .row .barang-card .cart-barang #shopping-cart-btn:hover {
  /* background-color: #ddd; */
  /* border: 1px solid var(--primary-color); */
  border-radius: 10px;
  color: var(--primary-color);
  transition: 0.1s;
}

/* contact section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #eee;
  /* flex-wrap: wrap; */
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid var(--black-color);
  border-radius: 10px;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  background: none;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  background-color: var(--primary-color);
  color: var(--bg);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;

}

footer .socials {
  padding: 1rem 0;
}

footer .socials a{
  color: var(--black-color);
  margin: 0 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.6rem;
}

footer .links a {
  color: var(--black-color);
  margin: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Modal Mox */
/* item detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.8);
}

.modal-container {
  position: relative;
  background-color: #eee;
  color: var(--black-color);
  margin: 12% auto;
  padding: 1.2rem;
  border: 1px solid var(--black-color);
  width: 80%;
  animation: animateModal 0.4s;
}

/* modal animations */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 21rem;
  margin-right: 2rem;
  margin-bottom: 2rem
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary-color);
  color: var(--bg);
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Media Queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--black-color);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content{
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .barang p {
  font-size: 1.2rem;
  }

  .modal-content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  
  .modal-content img {
    height: 21rem;
    margin-bottom: 1rem;
  }

  .modal-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    margin: 1rem auto;
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
